# simple apache directive file, requires mod_rewrite

Options -Indexes +FollowSymLinks

<IfModule mod_rewrite.c>
	RewriteEngine On
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ /index.php [L]
</IfModule>